attrs==19.3.0
backports.shutil-which==3.5.2
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
ConfigArgParse==1.2.3
construct==2.10.56
cryptography==2.9.2
docker==4.2.1
docutils==0.16
ecdsa==0.15
ECPy==0.10.0
ed25519==1.5
future==0.18.2
hidapi==0.9.0.post2
idna==2.9
importlib-metadata==1.6.0
intelhex==2.2.1
jsonschema==3.2.0
ledger-agent==0.9.0
ledgerblue==0.1.35
ledgerwallet==0.1.2
libagent==0.14.1
lockfile==0.12.2
mnemonic==0.19
more-itertools==8.4.0
msgpack==1.0.0
packaging==20.4
pbkdf2==1.3
Pillow==7.1.2
pluggy==0.13.1
protobuf==3.12.2
py==1.8.2
py-algorand-sdk==1.10.0
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.9.7
pyelftools==0.26
PyMsgBox==1.0.8
PyNaCl==1.4.0
pyparsing==2.4.7
PyQt5==5.14.2
PyQt5-sip==12.7.2
pyrsistent==0.16.0
pytest==5.4.3
python-daemon==2.2.4
python-u2flib-host==3.0.3
requests==2.23.0
secp256k1==0.13.2
semantic-version==2.8.5
semver==2.10.2
six==1.15.0
tabulate==0.8.7
Unidecode==1.1.1
urllib3==1.25.9
wcwidth==0.2.4
websocket-client==0.57.0
zipp==3.1.0
